 
    
    h2{
        font-size: 30px;
        text-align: center;
        color: rgb(0, 255, 81);
    }
    h1{
        font-size: 40px;
        text-align: center;
        color: rgb(255, 140, 0);
    }
    p{
        font-size: 20px; 
        color: rgb(255, 255, 255)
      
        
        }
        h3{
            font-size: 20px;
            color: aqua;
          }
    body{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    #container{
        display: grid;
        grid-template-columns: 1fr 1fr;
      
      }
      
      #image{
        width: 400px;
        height: 400px;
        display: block;
        border-radius: 40%;
        }
        button{
   
            margin-bottom: 20px;
            border-color: blueviolet;
            font-size: 20px;
            cursor: pointer;
            clear: both;
        }
        body{
           background-image: url(venise.jpg);
           background-size: cover;
           background-repeat: no-repeat;
        }
